<nav class="navbar navbar-light bg-primary">
<div class="container-fluid">
   <h1 style="color: aliceblue;">Angular CRUD</h1>
   <div class="d-flex">
      <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)=" clickaddEmp()" >Add Employee</button>
   </div>
</div>
</nav>

<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Empolyee ID</th>
            <th scope="col">First name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email ID</th>
            <th scope="col">Mobile No.</th>
            <th scope="col">salary</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of employeeData ">
            <td>{{row.id}}</td>
            <td>{{row.firstname}}</td>
            <td>{{row.lastname}}</td>
            <td>{{row.email}}</td>
            <td>{{row.mobile}}</td>
            <td>{{row.salary}}</td>
            <td>
                <button    (click)="onEdit(row)" class="btn btn-info"   data-bs-toggle="modal" data-bs-target="#exampleModal" >edit</button>
                <button  (click)=" deleteEmployeeDetails(row)" class="btn btn-danger mx-3">delete</button>
            </td>
        </tr>
    </tbody>
</table>


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Enter Emp details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formValue" >
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">First name</label>
                  <input  formControlName="Firstname" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Last name</label>
                  <input  formControlName="Lastname" type="text" class="form-control" id="exampleInputPassword1">
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Email ID</label>
                    <input formControlName="emailhtml" type="email" class="form-control" id="exampleInputPassword1">
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Mobile No</label>
                    <input formControlName="MobileNo" type="number" class="form-control" id="exampleInputPassword1">
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">salary</label>
                    <input formControlName="salary" type="number" class="form-control" id="exampleInputPassword1">
                  </div>
               
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="cancel" data-bs-dismiss="modal">Close</button>
          <button *ngIf="showAdd"  type="button" class="btn btn-primary"  (click)="postEmployeeDetails()" >Add</button>
          <button *ngIf="showUpdate" type="button" class="btn btn-primary"  (click)="UpdateEmployeeDetails()" >Update</button>
        </div>
      </div>
    </div>
  </div>